---
layout: page
title: Research Tags
permalink: /tags/research/
---
{% assign research_posts = site.tags.research %}

{% if research_posts == null or research_posts.size == 0 %}
  <h2>No post found</h2>
{% endif %}

<div class="tags">
  <ul class="label">
    <li>
      <a href="#research">
        <span>research</span>
        <span class="count">{{ research_posts | size }}</span>
      </a>
    </li>
  </ul>

  {% if research_posts %}
    <h2 id="research">research</h2>
    <ul class="tag">
      {% for post in research_posts %}
        {% if post.title != null %}
          <li>
            {% if post.link %}
              <a href="{{ post.link }}">
            {% else %}
              <a href="{{ site.baseurl }}{{ post.url }}">
            {% endif %}
                {{ post.title }}
              </a>
              <time>{{ post.date | date: "%Y-%m-%d" }}</time>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}
</div>
